*{
    margin: 0;
    padding: 0;
}
.content{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center; /* 盒子内容元素纵轴对齐 */
    justify-content: center;

}
.content .chars{
    color: #fff;
    font-size: 6vw;
    font-style: italic;
    font-weight: bold;
    width: 8vw;
    line-height: 6vw;
    text-align: center;
}